body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

#toolbar {
  top: 0;
  position: fixed;
  z-index: 2;
  background: skyblue;
  width: 100%;
}

#current-folder {
  float: left;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  min-width: 10em;
  border-radius: 0.2em;
  margin: 1em;
}

#toolbar .search {
  float: right;
  padding: 0.5em 1em;
  min-width: 10em;
  border-radius: 3em;
  margin: 2em 1em;
  border: none;
}

.main-area {
  margin: 2em;
  margin-top: 3em;
  clear: both;
  z-index: 1;
}

.main-area .item {
  float: left;
  width: 6em;
  height: 6em;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.item .filename {
  padding-top: 1em;
  font-size: 10pt;
}

span.path:hover,
img.icon:hover {
  opacity: 0.7;
  cursor: pointer;
}
